@keyframes slideInFromBottom {
	0% {
		transform: translateY(100%);
	}
	100% {
		transform: translateY(0);
	}
}

@-webkit-keyframes slideInFromBottom {
	0% {
		-webkit-transform: translateY(100%);
		transform: translateY(100%);
	}
	100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
}

@-moz-keyframes slideInFromBottom {
	0% {
		-moz-transform: translateY(100%);
		transform: translateY(100%);
	}
	100% {
		-moz-transform: translateY(0);
		transform: translateY(0);
	}
}

@keyframes fadeInAnimation {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@-webkit-keyframes blur {
	0% {
		-webkit-filter: blur(5px);
		filter: blur(5px);
	}
	100% {
		-webkit-filter: blur(0px);
		filter: blur(0px);
	}
}
@-moz-keyframes blur {
	0% {
		-moz-filter: blur(5px);
		filter: blur(5px);
	}
	100% {
		-moz-filter: blur(0px);
		filter: blur(0px);
	}
}
@keyframes blur {
	0% {
		-webkit-filter: blur(5px);
		-moz-filter: blur(5px);
		filter: blur(5px);
	}
	100% {
		-webkit-filter: blur(0px);
		-moz-filter: blur(0px);
		filter: blur(0px);
	}
}