// Fonts Location: currently src/fonts
$fonts: "../../fonts";

$dark-blue:  #1c2428;
$black: #000000;
$pink: #E84A5F;
$mars-pink: #e26d8a;
$mars-pink-transparent: #e26d8a90;
$light-pink: #FF847C;
$cream-pink: #FECEAB;
$cream: #FFFBF1;
$off-white: #fcfbfc;
$light-blue: #73f1ce;
$light-blue-transparent: #73f1ce90;
$light-blue-secondary: #5aa094;
$light-blue-green: #73f1bc;
$light-blue-green-transparent: #73f1bc90;
$mars-rock-purple: #ae71a6;
$footer-black: #0a0e12;

$navigaton-bar-width: 300px;
$footer-height: 100px;