// Fonts Location: currently src/fonts
$fonts: "../../fonts";

$dark-blue:  #1c2428;
$black: #000000;
$pink: #E84A5F;
$mars-pink: #e26d8a;
$mars-pink-transparent: #e26d8a90;
$light-pink: #FF847C;
$cream-pink: #FECEAB;
$cream: #FFFBF1;
$off-white: #fcfbfc;
$light-blue: #99B898;
$light-blue-transparent: #99b89890;
$mars-rock-purple: #ae71a6;

$navigaton-bar-width: 300px;
$footer-height: 200px;