@use "./constants" as c;

:export {
    marsPink: c.$mars-pink;
    lightBlue: c.$light-blue;
    lightBlueGreen: c.$light-blue-green;
    lightBlueSecondary: c.$light-blue-secondary;
    purple: c.$purple;
    orange: c.$orange;
    yellow: c.$yellow;
    yellowDark: c.$yellow-dark;
}