@use "main";
@use "utilities/animations";
@use "utilities/constants" as c;
@use "utilities/fonts";
@use "topBar";
@use "button";

#aboutApp {
	height: 100%;
	width: 100%;
	position: absolute;
	z-index: -1;
}

#aboutView {
	background-image: url("../images/mars-purple.png");
	background-repeat: no-repeat;
	background-position: center top;
	background-size: cover;
	height: 100%;
	width: 100%;
	position: relative;
}

#aboutApp .navigationMenu,
#aboutApp .navigationMenu.showMenu {
	background-color: c.$purple-transparent;
}

#aboutApp #topBarHeading p:after {
	background: c.$purple;
}

#aboutApp #aboutBody {
	z-index: 1;
	padding-top: c.$top-bar-height;
	height: calc(100% - c.$top-bar-height);
}

#aboutApp #aboutBody #aboutHeader {
    text-align: center;
	font-size: 4rem;
	font-family: "Space Grotesk Bold";
	color: white;
	padding-top: 2.5%;
}