@use "main";
@use "utilities/animations";
@use "utilities/constants" as c;
@use "utilities/fonts";
@use "topBar";

#blackScholesApp {
	height: 100%;
	width: 100%;
	position: absolute;
	z-index: -1;
}

#blackScholesView {
	background-image: url("../images/mars-yellow.png");
	background-repeat: no-repeat;
	background-position: center top;
	background-size: cover;
	height: 100%;
	width: 100%;
	position: relative;
	// top: calc(-1 * c.$top-bar-height);
	// top: 0;
	// animation: 0.8s linear 0s 1 blur;
	// -webkit-animation: 0.8s linear 0s 1 blur;
	// -moz-animation: 0.8s linear 0s 1 blur;
}

#blackScholesApp .navigationMenu,
#blackScholesApp .navigationMenu.showMenu {
	background-color: c.$yellow-transparent;
}

#blackScholesApp #topBarHeading p:after {
	background: c.$yellow;
}

#blackScholesApp #blackScholesBody {
	z-index: 1;
	padding-top: c.$top-bar-height;
	height: calc(100% - c.$top-bar-height);
	overflow-y: auto;
}

#blackScholesApp #blackScholesBody #blackScholesHeader {
	text-align: center;
	font-size: 4rem;
	font-family: "Space Grotesk Bold";
	color: white;
	padding-top: 2.5%;
	padding-bottom: 2.5%;
}

#blackScholesApp #blackScholesBody #blackScholesForm {
	font-size: 1.2rem;
	display: grid;
	grid-template-columns: max-content max-content;
	grid-row-gap: 15px;
	grid-column-gap: 15px;
	// align the grid
	justify-content: center;
	align-items: center;
	background-color: c.$footer-black-transparent;
	width: max-content;
	max-width: 95%;
	padding: 2.5%;
	margin: auto;
	box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
	border-radius: 10px;
	margin-bottom: 1.5%;
}

#blackScholesApp #blackScholesBody #blackScholesForm .blackScholesFormLabel {
	color: white;
	font-family: "Space Grotesk SemiBold";
	text-align: right;
}

#blackScholesApp #blackScholesBody #blackScholesForm .blackScholesFormInput {
	background-color: c.$footer-black;
	border-bottom: 1px solid white;
	color: white;
	font-family: "Space Grotesk";
	width: 100%;
	border-radius: 3px;
	text-align: center;
	height: 1.5rem;
	transition: all 0.05s linear;
	box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
}

#blackScholesApp
	#blackScholesBody
	#blackScholesForm
	.blackScholesFormInput:focus {
	outline: none !important;
	border-bottom: 3px solid white;
	transition: all 0.05s linear;
	box-shadow: 0 15px 25px rgba(0, 0, 0, 1);
}

#blackScholesApp
	#blackScholesBody
	#blackScholesForm
	#blackScholesFormCalculate:hover,
.blackScholesFormInput.dropdown:hover {
	border-bottom: 3px solid white;
	transition: all 0.05s linear;
	box-shadow: 0 15px 25px rgba(0, 0, 0, 1);
	cursor: pointer;
}

#blackScholesApp #blackScholesBody #blackScholesResult {
	font-size: 1.5rem;
	display: grid;
	grid-template-columns: max-content max-content;
	grid-row-gap: 15px;
	grid-column-gap: 15px;
	color: white;
	font-family: "Space Grotesk Bold";
	justify-content: center;
	align-items: center;
	background-color: c.$footer-black-transparent;
	width: max-content;
	padding: 0 2.5% 0 2.5%;
	margin: auto;
	box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
	border-radius: 10px;
	margin-bottom: 30px;
	max-width: 95%;
}

#blackScholesApp #blackScholesBody #blackScholesResult #blackScholesResultList {
	list-style-type: none;
	font-family: "Space Grotesk SemiBold";
	font-size: 1.5rem;
}

#blackScholesApp
	#blackScholesBody
	#blackScholesResult
	#blackScholesResultListItem {
	margin: 10px 0;
}

// Disables Spinners (up and down arrows) on number input fields
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
	-webkit-appearance: none;
	appearance: none;
	margin: 0;
}

input[type="number"] {
	-moz-appearance: textfield;
	appearance: textfield;
}
// end of disabling spinners
