@use "utilities/constants" as c;
@use "utilities/fonts";

#footer {
    position: relative;
    top: -4px;
    height: c.$footer-height;
    width: 100%;
    background-color: #121111;
    font-family: "Space Grotesk";
    color: white;
}