@use "utilities/constants" as c;
@use "utilities/fonts";
@use "topBar";
@use "button";
@use "navigationMenu";
@use "indexBody";
@use "footer";

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: black;
	// background-image: url("../images/mars.png");
	// background-repeat: no-repeat;
	// background-position: center top;
	// background-size: 100% 100%;
}

html {
	height: 100%;
}

img {
	-webkit-user-drag: none;
	-khtml-user-drag: none;
	-moz-user-drag: none;
	-o-user-drag: none;
	user-drag: none;
}

.IndexApp {
	height: 100%;
	width: 100%;
	position: absolute;
	z-index: -1;
}

.IndexApp #indexBackgroundImage {
	display: inline-block;
	overflow: hidden;
	width: 100%;
	height: 100%;
	z-index: -10;
}

.IndexApp #indexBackgroundImage .marsBackground {
	height: 100%;
	width: 100%;
	// min-width: 1500px;
	object-fit: cover;
	object-position: 100% bottom;
	z-index: -10;
	pointer-events: none;
	position: absolute;

	@media (max-height: 500px) {
		object-position: 100% top;
	}
}

.IndexApp .indexView {
    background-image: url("../images/mars.png");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    height: 100%;
    width: 100%;
    position: relative;
    z-index: -10;
}

// @media (max-width: 1500px) {
// 	.IndexApp #marsBackground {
// 		min-width: 1500px !important;
// 	}
// }

// @media (max-height: 500px) {
// 	.IndexApp #marsBackground {
// 		min-height: 500px !important;
// 	}
// }
