@use "utilities/constants" as c;
@use "utilities/fonts";


.indexBody {
	position: relative;
	top: 50px;
  z-index: 1;
}

.indexBody .indexBodyWelcome{
	position: relative;
}

.indexBody .indexBodyWelcome #indexBodyWelcomeText {
	position: relative;
	font-family: "Space Grotesk Bold";
	font-size: 7.5vw;
	color: c.$off-white;
	top: 100px;
	text-align: center;
  z-index: 2;
	// text-shadow: 5px 5px c.$mars-pink, 5.75px 5.75px c.$mars-pink,
	// 	6.5px 6.5px c.$mars-pink, 7.25px 7.25px c.$mars-pink, 8px 8px c.$mars-pink,
	// 	8.75px 8.75px c.$mars-pink, 9.5px 9.5px c.$mars-pink,
	// 	10.25px 10.25px c.$mars-pink, 11px 11px c.$mars-pink,
	// 	11.75px 11.75px c.$mars-pink, 12.5px 12.5px c.$mars-pink,
	// 	13.25px 13.25px c.$mars-pink, 14px 14px c.$mars-pink;
}
