@use "utilities/constants" as c;

* {
	padding: 0px;
	margin: 0px;
	border: 0px;
}


a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }