@use "utilities/constants" as c;
@use "utilities/fonts";

#topBar {
	// position: fixed;
	top: 0;
	width: 100%;
	color: white;
	height: 100px;
	width: 100%;
	z-index: 10;
}

.topBarHeader {
	left: 0;
}

.topBarHeader,
.topBarHeader.showMenu {
	// background-color: c.$light-pink;
	position: fixed;
	top: 0;
	height: 32px;
	padding-top: 100px;
	font-family: "Space Grotesk";
	font-size: 1.1em;
	color: c.$off-white;
	padding-top: 8px;
	width: 100%;
	z-index: 10;
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Old versions of Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
	transition: left 0.2s linear, width 0s linear 0s, right 0s linear 0s;
	right: 0;
	max-width: 100%;
}

.topBarHeader.showMenu {
	left: c.$navigaton-bar-width;

	// width: calc(100% - c.$navigaton-bar-width);
	#topBarList {
		margin-left: 10px;
	}
}

#topBarHamburgerMenu {
	background-color: transparent;
	cursor: pointer;
	padding-top: 5px;
	z-index: 10;
	min-width: 25px;
	min-height: 25px;
}

// Grow menu button on hover
#topBarHamburgerMenu:hover {
	transform: scale(1.1);
	transition: all ease 500ms;
	will-change: transform;
}

#topBarList {
	display: flex;
	align-items: center;
	column-gap: 1.75rem;
	height: 40px;
	margin-left: 1%;
	transition: all 0.2s ease-out;
	list-style: none;
	z-index: 10;
}

#topBarList .topBarListItem {
	padding-top: 6.25px;
	cursor: pointer;
}

// Underline on hover : start
#topBarList .topBarListItem:after {
	background: none repeat scroll 0 0 transparent;
	bottom: -0.25px;
	content: "";
	display: block;
	height: 2px;
	left: 0;
	position: relative;
	background: #fff;
	opacity: 1;
	transform: scale(0);
	transform-origin: center;
	transition: opacity 0.3s ease 0s, transform 0.3s ease 0s;
	width: 100%;
	border-radius: 8%;
	will-change: transform, opacity;
}

#topBarList .topBarListItem:not(#topBarHamburgerMenu):hover:after {
	transform: scale(1);
	will-change: transform, opacity;
}

#topBarList .topBarListItem:hover {
	transform: scale(1.1);
	transition: all ease 300ms;
	will-change: transform;
}
// Underline on hover : end

#topBarList.showMenu {
	transition: all 0.2s linear;
	margin-left: c.$navigaton-bar-width + 10px;
	z-index: 10;
	#topBarHamburgerMenu {
		padding-top: 8.25px;
		z-index: 10;
	}
}

#topBarHeading {
	font-family: "Space Grotesk Bold";
	position: fixed;
	// top: 2px;
	right: 25px;
	white-space: nowrap;
	font-size: 1.8em;
	// margin-top: $topBarMarginTop;
	padding-top: 1.8px;
	z-index: 10;
	width: max-content;
}

// Heading Underline : start
#topBarHeading p:after {
	background: none repeat scroll 0 0 transparent;
	bottom: -7px;
	content: "";
	display: block;
	height: 3px;
	left: 0;
	position: absolute;
	background: c.$mars-pink;
	opacity: 1;
	transform: scale(0);
	transform-origin: center;
	transition: opacity 0.3s ease 0s, transform 0.3s ease 0s;
	width: 100%;
	border-radius: 8%;
	will-change: transform, opacity;
}

#topBarHeading p:hover:after {
	transform: scale(1);
	will-change: transform, opacity;
}

#topBarHeading p:hover {
	transform: scale(1.1);
	transition: all ease 500ms;
	will-change: transform;
}

// Heading Underline : end

@media only screen and (max-width: 580px) {
	#topBarList #topBarHeading {
		display: none;
	}
}

@media only screen and (max-width: 350px) {
	#topBarList .topBarListIcon {
		display: none;
	}
}

@media only screen and (max-width: 885px) {
	#topBarList.showMenu #topBarHeading {
		display: none;
	}
}

@media only screen and (max-width: 660px) {
	#topBarList.showMenu .topBarListIcon {
		display: none;
	}
}
