@use "utilities/constants" as c;
@use "utilities/fonts";

.topBarDiv {
	// background-color: c.$light-pink;
	height: 32px;
	font-family: "Space Grotesk";
	font-size: 1.1em;
	color: c.$off-white;
	// border-radius: 10px;
	margin-top: 8px;
	position: fixed;
	width: 100%;
	z-index: 10;
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Old versions of Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

.topBarDiv .topBarHamburgerMenu {
	background-color: transparent;
	cursor: pointer;
	padding-top: 5px;
}

// Grow menu button on hover
.topBarDiv .topBarHamburgerMenu:hover {
	transform: scale(1.1);
	transition: all ease 500ms;
}

.topBarDiv .topBarHamburgerMenu #topBarHamburgerOpen {
	padding-top: 2.5px;
	padding-left: 3px;
}

.topBarDiv .topBarLinks {
	display: flex;
	align-items: center;
	column-gap: 1.75rem;
	height: 40px;
	margin-left: 1%;
	transition: all 0.2s ease-out;
}

.topBarDiv .topBarLinksIcon {
	padding-top: 6.25px;
	cursor: pointer;
}

// Underline on hover : start
.topBarDiv .topBarLinksIcon:after {
	background: none repeat scroll 0 0 transparent;
	bottom: -0.25px;
	content: "";
	display: block;
	height: 2px;
	left: 50%;
	position: absolute;
	background: #fff;
	transition: width 0.3s ease 0s, left 0.3s ease 0s;
	width: 0;
}

.topBarDiv .topBarLinksIcon:hover:after {
	width: 100%;
	left: 0;
}

.topBarDiv .topBarLinksIcon:hover {
	transform: scale(1.1);
	transition: all ease 500ms;
}
// Underline on hover : end

.topBarDiv .topBarLinks.showMenu {
	transition: all 0.2s linear;
	margin-left: c.$navigaton-bar-width + 10px;
}

.topBarDiv .topBarHeader {
	font-family: "Space Grotesk Bold";
	position: absolute;
	// top: 2px;
	right: 2.5%;
	white-space: nowrap;
	font-size: 1.8em;
	// margin-top: $topBarMarginTop;
	padding-top: 1.8px;

	transition: 1s;
}

// Header Underline : start
.topBarDiv .topBarHeader #header:after {
	background: none repeat scroll 0 0 transparent;
	bottom: -7px;
	content: "";
	display: block;
	height: 3px;
	left: 50%;
	position: absolute;
	background: c.$mars-pink;
	transition: width 0.3s ease 0s, left 0.3s ease 0s;
	width: 0;
}

.topBarDiv .topBarHeader #header:hover:after {
	width: 100%;
	left: 0;
}

.topBarDiv .topBarHeader #header:hover {
	transform: scale(1.1);
	transition: all ease 500ms;
}

// Header Underline : end

@media only screen and (max-width: 475px) {
	.topBarDiv .topBarLinks .topBarHeader {
		display: none;
	}
}

@media only screen and (max-width: 275px) {
	.topBarDiv .topBarLinks .topBarLinksIcon {
		display: none;
	}
}

@media only screen and (max-width: 785px) {
	.topBarDiv .topBarLinks.showMenu .topBarHeader {
		display: none;
	}
}

@media only screen and (max-width: 550px) {
	.topBarDiv .topBarLinks.showMenu .topBarLinksIcon {
		display: none;
	}
}
